@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
.viewDiv{
    height: 100vh;
    background-color: lightBlue;
    margin: 0;
    padding: 0;

}